body{
    max-width: 1500px;
    width: 100%;
    margin: 0 auto;
    height: 100vh;
    background-color: beige;
    flex-wrap: wrap;
}

.container{
    max-width: 1500px;
    margin: 0 auto;
    width: 100%;
    height: 100px;
    background-color: var(--color_1);
    border: 1px solid black;
    border-left: none;
    border-right: none;
    border-top: none;
    display: flex;
    justify-content: space-between;
}
button{
    width: 100px;
    height: 50px;
    background-color:burlywood;
    border: 1px solid black;
    line-height: 50px;
    text-align: center;
    cursor: pointer;
    border-radius: 2px;
    box-shadow: 10px 10px 5px rgba(0,0,0,0.2);
    transition: all 0.7s ease;
    
}
button:hover{
    background-color: #FFEB3B;
    transition: 0.7s;
}
img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    box-shadow: 10px 10px 5px rgba(0,0,0,0.2);
    transition: all 0.7s ease;
    cursor: pointer;
    box-shadow: 10px 10px 5px  rgba(0,0,0,0.2);
    border: 1px solid black;
}
.image{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: wrap;
    gap: 10px;
    padding: 20px;
    
    
    
}
img:hover{
    transform: scale(1.1);
    transition: 0.7s;
} 
@media screen and (max-width: 768px) {
    body{
        flex-wrap: wrap;
    }
    .container{
        flex-wrap: wrap;
        flex: auto;
    }
    .image{
        flex-wrap: wrap;
       

}
}

   

